*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/фон/картина-кофе-безшовная.webp);
    padding: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}
h1{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    font-size: 35px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    animation: box-animation 3s infinite linear;
}
@keyframes box-animation  {
    0%, 100% {
        background-color: #664e0b;
    }
    25%, 75% {
        background-color: #312a17;
    }
    50% {
        background-color: #584306;
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.form-cont{
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group {
    margin-bottom: 10px;
}
input, textarea {
    padding: 5px;
}
label {
    display: block;
}
button {
    width: 160px;
    height: 50px;
    background-color: rgb(179, 107, 0);
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
button:hover{
    background-color: rgb(206, 134, 26);;
}
select {
    padding: 5px;
}
input:invalid{
    background-color: rgba(255, 0, 0, 0.219);
    border: 1px solid red;
}
input:valid{
    border: 1px solid green;
}
input[type=color] {
    padding: 0;
}
